# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
app/img/icon.png
Properties/build/ligershark.chrome.targets
Properties/build/lib/Ionic.Zip.DLL
Properties/build/lib/MSBuild.ExtensionPack.dll
screenshots/readme.txt
screenshots/screenshot.png
scripts/chrome-api-vsdoc.js
scripts/_references.js
DownloadOrganizer.csproj
index.htm
bin/DownloadOrganizer.zip
DownloadOrganizer.csproj.user
